@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Cursiva';
  src: url('../../assets/fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Contenedor principal del footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Asegura que todas las columnas comiencen a la misma altura */
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  padding: 20px;
  font-family: 'Poppins', sans-serif; /* Cambia la fuente */

}

/* Sección individual del footer */
.footer-section {
  flex: 1; /* Los elementos ocupan la misma proporción */
  margin: 0 10px; /* Margen entre columnas */
  min-width: 250px; /* Ancho mínimo para pantallas pequeñas */
}

/* Ajusta el margen inferior para que los títulos queden alineados */
.footer-section h4 {
  font-size: 18px;
  margin: 0 0 10px; /* Solo margen inferior */
}

.footer-section p {
  font-size: 14px;
  margin: 5px 0;
}


/* Iconos de redes sociales */
.social-icons {
  display: flex;
  gap: 10px;
  font-size: 24px; /* Tamaño de los íconos */
  color: white;
  font-family: 'Poppins', sans-serif; /* Asegura que los íconos no usen la fuente personalizada */
}

.social-icons i {
  cursor: pointer;
  transition: transform 0.3s;
  color: white;
}

.social-icons i:hover {
  transform: scale(1.2); /* Agranda el ícono al pasar el mouse */
}

/* Responsividad */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Las secciones se apilan en pantallas pequeñas */
    text-align: center;
    align-items: center; /* Centra las columnas en pantallas pequeñas */
  }

  .footer-section {
    margin: 20px 0;
  }

  .social-icons {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .footer-container {
    padding: 40px 60px;
  }

  .footer-section h4 {
    font-size: 20px;
  }

  .footer-section p {
    font-size: 16px;
  }
}

/* Logo styling */
.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  width: 200px;
  margin-right: 10px;
}
