<footer class="footer-container">
  <div class="footer-section">
    <h4>Seguinos</h4>
    <div class="social-icons">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>

  <div class="footer-section">
    <h4>Contáctanos</h4>
    <p>+54 9 11 3480 2328</p>
    <p>Exclusivo llamadas: +54 9 11 3480 2328 / Exclusivo WhatsApp: +54 9 11 3480 2328</p>
    <p>nomadaespaciodinamicogmail.com</p>
    <p>dirección (local), Palermo, Buenos Aires</p>
  </div>


 <!-- Sección de Créditos -->
  <div class="footer-section credits">
    <p>
      Diseño y desarrollo hecho por 
      <a href="https://ateneasoftware.net/" target="_blank" rel="noopener noreferrer">
        Atenea Software
      </a>
    </p>
  </div>

</footer>
