<footer class="footer-container">
  <div class="footer-section">
    <div class="footer-logo">
      <img
        (click)="navigateTo('home')"
        src="../../assets/VARIANTE1.png"
        alt="Logo"
      />
    </div>
    <h4>Seguinos</h4>
    <div class="social-icons">
      <a href="https://www.facebook.com/profile.php?id=61567022815544" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/masnomada.muebles/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>

  <div class="footer-section">
    <h4>Contáctanos</h4>
    <p>contacto&#64;masnomada.com</p>
  </div>

  <!-- Sección de Créditos -->
  <div class="footer-section credits">
    <p>
      Diseño y desarrollo hecho por
      <a href="https://ateneasoftware.net/" target="_blank" rel="noopener noreferrer">
        Atenea Software
      </a>
    </p>
  </div>
</footer>
