<app-navbar></app-navbar>

<div class="pasos-container">

  <div class="steps-sidebar">
    <!-- Campo de búsqueda de código -->
    <div class="code-search-container">
      <input
        type="text"
        placeholder="Buscar por código"
        [(ngModel)]="searchCode"
        (keyup.enter)="searchByCode()"
        class="code-input"
      />
      <button (click)="searchByCode()" class="search-button">Buscar</button>
    </div>

    <!-- Botón para limpiar selección -->
    <div class="reset-button-container">
      <button (click)="resetSelections()" class="reset-button">Limpiar Selección</button>
    </div>

    <!-- Menú hamburguesa para pasos en dispositivos móviles -->
    <div class="hamburger-menu" *ngIf="isMobileView">
      <button class="hamburger-button" (click)="toggleMenu()">☰ Pasos</button>
      <div class="steps-menu" *ngIf="menuOpen">
        <ng-container *ngIf="!isSearchActive">
          <button
            *ngFor="let step of steps"
            (click)="goToStep(step.id)"
            [class.active]="currentStep === step.id"
            [class.completed]="completedSteps.includes(step.id)"
            [disabled]="step.id === 1 && selectedOptions.isla"
          >
            {{ step.title }}
          </button>
        </ng-container>
      </div>
    </div>

    <!-- Botones de los pasos para pantallas grandes -->
    <ng-container *ngIf="!isMobileView && !isSearchActive">
      <button
        *ngFor="let step of steps"
        (click)="goToStep(step.id)"
        [class.active]="currentStep === step.id"
        [class.completed]="completedSteps.includes(step.id)"
        [disabled]="step.id === 1 && selectedOptions.isla"
      >
        {{ step.title }}
      </button>
    </ng-container>
  </div>

<div *ngIf="isSearchActive" class="step-content">
 <!-- Resultado de la búsqueda (visible solo si hay búsqueda activa) -->
 <ng-container >
  <h2>Resultado Búsqueda</h2>
  <div class="final-container">
    <!-- Contenido del resultado -->
    <div class="island-container">
      <div
        class="background-countertop"
        [ngStyle]="{
          'background-image': 'url(' + generateFinalImagePath().countertop + ')'
        }"
      >
        <!-- Contenedor para agrupar módulos como un solo mueble -->
        <div [ngClass]="getIslandClass()">
          <div class="module-container" *ngFor="let moduleImage of selectedOptions.modules">
            <img [src]="moduleImage" alt="Módulo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
</div>



  <!-- Contenido dinámico -->
  <div *ngIf="!isSearchActive" class="step-content">
<!-- Barra de progreso -->
<div class="progress-bar-container">
  <div class="progress-bar">
    <div class="progress" [style.width]="progressPercentage + '%'"></div>
  </div>
</div>



    <ng-container [ngSwitch]="currentStep">
     <!-- Paso 1: Selección de tipo de isla -->
     <ng-container *ngIf="currentStep === 1">
       <h2>Selecciona el tipo de isla</h2>
       <!-- Contenedor explicativo -->
       <div class="explanatory-container">
         Elige el tipo de isla que deseas para tu cocina. Puedes seleccionar entre diferentes tamaños y diseños según tus preferencias.
       </div>
       <div class="color-options">
         <div
           class="color-option"
           *ngFor="let isla of tipoIslaOptions"
           (click)="selectIsla(isla.name, isla.size)"
         >
           <img [src]="isla.imagePath" [alt]="isla.name" />
           <span>{{ isla.name }}</span>
           <button class="info-button" (click)="openInfoModal(isla.id); $event.stopPropagation()">
            <span class="info-icon">i</span>
          </button>
         </div>
       </div>
     </ng-container>

<ng-container *ngIf="currentStep === 2">
  <h2>Selecciona el color de la mesada</h2>
  <!-- Contenedor explicativo -->
  <div class="explanatory-container">
    Selecciona el color que prefieras para la mesada. Este color se aplicará únicamente a la superficie de la isla.
  </div>

  <div class="color-options">
    <div
      class="color-option"
      *ngFor="let color of colorOptions"
      (click)="selectColor(color.name, color.prefix)"
    >
      <img [src]="color.imagePath" [alt]="color.name" />
      <span>{{ color.name }}</span>
      <button class="info-button" (click)="openInfoModal(color.id); $event.stopPropagation()">
        <span class="info-icon">i</span>
      </button>
    </div>
  </div>


</ng-container>


<ng-container *ngIf="currentStep === 3">
  <h2>Orientación</h2>
  <!-- Contenedor explicativo -->
  <div class="explanatory-container">
    Configura la orientación de tu isla. Puedes girarla para ajustarla al diseño de tu cocina.
  </div>
  <div class="color-options">
    <div
      class="color-option"
      *ngFor="let orientation of orientations"
      (click)="selectOrientation(orientation)"
    >
      <img [src]="orientationImages[orientation]" [alt]="getOrientationAltText(orientation)" />
      <span>{{ getOrientationDisplayName(orientation) }}</span>
      <!-- Botón Info -->
      <button
        class="info-button"
        (click)="openInfoModal(getOrientationInfoId(orientation)); $event.stopPropagation()"
      >
        <span class="info-icon">i</span>
      </button>
    </div>
  </div>
</ng-container>



<!-- Paso 4: Selección de color de módulo -->
<ng-container *ngIf="currentStep === 4">
  <h2>Selecciona el color del módulo</h2>
  <!-- Contenedor explicativo -->
  <div class="explanatory-container">
    Elige el color que tendrán los módulos de tu isla. Este color se aplicará a los muebles y cajones de la estructura.
  </div>
  <div class="color-options">
    <div
      class="color-option"
      *ngFor="let moduleColor of moduleColorOptions"
      (click)="selectModuleColor(moduleColor.name)"
    >
      <img [src]="moduleColor.imagePath" [alt]="moduleColor.name" />
      <span>{{ moduleColor.name }}</span>
      <!-- Botón Info -->
      <button class="info-button" (click)="openInfoModal(moduleColor.id); $event.stopPropagation()">
        <span class="info-icon">i</span>
      </button>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="currentStep >= 5 && currentStep <= (4 + moduleSteps)">
  <h2>Módulo {{ currentStep - 4 }}</h2>
  <div class="explanatory-container">
    Estás seleccionando el módulo número {{ currentStep - 4 }}. Elige una opción como cajones, gabinetes o estantes para completar tu diseño.
  </div>
  <div class="color-options">
    <div
      class="color-option"
      *ngFor="let module of moduleOptions"
      (click)="selectModule(module, currentStep)"
    >
      <img [src]="'../../assets/modulos/' + module" [alt]="module" />
      <span>{{ getModuleDisplayName(module) }}</span>
      <!-- Botón Info -->
      <button class="info-button" (click)="openInfoModal(getModuleId(module)); $event.stopPropagation()">
        <span class="info-icon">i</span>
      </button>
    </div>
  </div>
</ng-container>


<!-- Paso final: Resultado -->
<ng-container *ngIf="currentStep === (4 + moduleSteps + 1)">
  <h2>Resultado Final</h2>
  <!-- Contenedor explicativo -->
  <div class="explanatory-container">
    Este es el diseño final de tu isla. Puedes verificar el resultado, guardar el código generado y realizar ajustes si es necesario.
  </div>
  <div class="final-container">
    <!-- Contenedor de la isla -->
    <div class="island-container">
      <div
        class="background-countertop"
        [ngStyle]="{
          'background-image': 'url(' + generateFinalImagePath().countertop + ')'
        }"
      >
        <!-- Contenedor para agrupar módulos como un solo mueble -->
        <div [ngClass]="getIslandClass()">
          <div
            class="module-container"
            *ngFor="let moduleImage of generateFinalImagePath().modules"
          >
            <img [src]="moduleImage" alt="Módulo" />
          </div>
        </div>
      </div>
    </div>
    <p>Código Generado: {{ generateFinalCode() }}</p>
  </div>
</ng-container>

    </ng-container>
  </div>
</div>


