<app-navbar></app-navbar>

<div class="main-container" [ngStyle]="{ 'background-image': backgroundImage }">
  <div class="content">
    <h1>Sobre nosotros</h1>
    <p>Somos una empresa familiar que combina tradición y modernidad. Confiamos  en que somos nuestro mejor equipo. En Más Nómada diseñamos muebles versátiles que transforman espacios cotidianos en lugares únicos para compartir momentos inolvidables.</p>
    <p>Durante generaciones, nuestra familia se dedicó a crear muebles, y cuando llegó nuestro turno, decidimos reinventar el oficio. Inspirados por nuestra propia experiencia, creamos Más Nómada: una marca que diseña muebles prácticos, móviles y llenos de estilo, pensados para hogares dinámicos como el tuyo.</p>
    <p>Nos tocó mudarnos varias veces y aprendimos que las cocinas suelen ser poco funcionales. Nos encantaba cocinar juntos, pero siempre terminábamos separados, sin espacio suficiente para compartir o guardar todo y hacer un mueble fijo no era opción, porque ocupaba demasiado espacio y no se adaptaba a nuestros cambios. Así nació nuestra primera isla de cocina con ruedas, una solución que no solo resolvió estos problemas, sino que transformó la manera en que vivimos nuestros espacios.</p>
    <p>Hoy, tras años de desarrollo y diseño pensado hacemos muebles diseñados para vos: islas de cocina móviles, versátiles y personalizables que se mueven con vos, desde la cocina hasta el patio. Nuestro objetivo es que cada rincón de tu hogar sea tan funcional como hermoso, ayudándote a crear momentos únicos con quienes más querés.</p>
    <p>Porque al final, no se trata solo de muebles. Nos impulsa transformar tus espacios y acompañarte en tus mejores momentos.
       Descubrí Más Nómada: diseño inteligente para los nómadas modernos.</p>
  </div>
</div>
    <p>.</p>

<app-footer></app-footer>
