<app-navbar></app-navbar>

<div class="main-container" [ngStyle]="{ 'background-image': backgroundImage }">
  <div class="content">
    <h1>Sobre nosotros</h1>
    <p>En Más Nómada, somos diseñadores de muebles apasionados por transformar espacios en soluciones prácticas y estéticamente atractivas. Creemos que cada rincón de tu hogar puede ser aprovechado al máximo, sin renunciar a la funcionalidad ni al diseño.</p>
    <p>Diseñamos para los nómadas modernos: personas dinámicas que valoran la versatilidad, el estilo y la movilidad en su día a día. Nuestras islas de cocina con ruedas son más que muebles; son piezas que se adaptan a tu vida, permitiéndote reinventar tus espacios según tus necesidades.</p>
    <p>Nuestro compromiso es crear muebles que fusionen innovación, personalización y calidad, haciendo que tu hogar sea un lugar donde todo fluya de manera natural y eficiente. Porque en Más Nómada, no solo diseñamos muebles, creamos posibilidades y espacios dinámicos.</p>
    <p>Estamos orgullosos de que nuestro taller esté ubicado en Vicente López, Buenos Aires. Este proyecto comenzó como una necesidad personal: queríamos más espacio de guardado en nuestra cocina. Diseñamos nuestra primera isla pensando en practicidad, y le añadimos ruedas porque vivimos en un hogar pequeño, lo que nos permitía moverla y adaptarla según el momento.</p>
    <p>Hoy, ese sueño se materializa en nuestras islas de cocina, y queremos compartirlas con ustedes, para que también puedan disfrutar de muebles diseñados para acompañar su vida en movimiento.</p>
  </div>
</div>

<app-footer></app-footer>
