<div class="container">
  <div class="background-frame"></div>
  <img src="../../assets/Problema2.webp" alt="Isla de cocina" class="kitchen-image">
  <div class="text-content">
    <h2>¿Cocinas incómodo y sin espacio para nada?</h2>
    <br>
    <p>
      "¿Te frustra cocinar sin lugar para picar verduras?
      <br>
      → Ampliá tu mesada al instante con superficies extras que se pliegan o extienden.
      <br>
      → Ganá el espacio de apoyo que necesitás.
      <br>
      <br>
      Convertite en el chef de tu casa… “
    </p>
  </div>
</div>
