@font-face {
  font-family: 'Walkway';
  src: url('../../assets/fonts/Walkway Bold.ttf') format('truetype'); /* Cambia la ruta según la ubicación de tu archivo */
  font-weight: bold;
  font-style: normal;
}

/* Estilos base */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  font-family: 'Walkway', sans-serif; /* Aplicar fuente a todos los textos */
}

/* Logo styling */
.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: #333;
}

.navbar-logo img {
  width: 200px;
  margin-right: 10px;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #000; /* Cambiar a negro puro para mayor contraste */
  font-weight: bold; /* Aumentar el grosor del texto */
  font-size: 18px; /* Aumentar el tamaño de fuente */
  font-family: 'Walkway', sans-serif; /* Fuente personalizada */
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease; /* Suavizar las transiciones */
}

/* Efecto hover para destacar */
.navbar-links a:hover {
  color: #60603C; /* Cambiar a un color resaltado */
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Añadir un efecto de sombra */
  transform: scale(1.1); /* Aumentar ligeramente el tamaño al pasar el cursor */
  text-decoration: underline; /* Subrayar el texto al pasar el cursor */
  cursor: pointer;
}


.navbar-icons a {
  color: #60603C;
  font-size: 24px;
  margin-left: 20px;
  font-family: Arial, sans-serif; /* Mantener la fuente estándar para los íconos */
}

/* Ocultar menú por defecto */
.navbar-links {
  display: none;
}

/* Menú desplegado (clase responsive) */
.navbar-links.responsive {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
}

/* Icono del menú hamburguesa */
.menu-icon {
  display: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}
/* Media Query para pantallas medianas (tablets) */
@media (max-width: 768px) {
  .navbar-links {
    display: none; /* Ocultar links en tabletas */
  }

  .menu-icon {
    display: block;
  }

  .navbar-logo img {
    width: 150px;
  }
}

/* Media Query para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  /* Logo centrado y ajustado */
  .navbar-logo img {
    width: 100px;
    margin: 0;
  }

  /* Iconos más pequeños */
  .navbar-icons a {
    font-size: 18px;
    margin-left: 10px;
  }

  /* Estilos del menú desplegable */
  .navbar-links.responsive {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
  }
}
