<!-- Barra de navegación -->
<nav class="navbar">
  <div class="navbar-logo">
    <img
      (click)="navigateTo('home')"
      src="../../assets/LOGO33.png"
      alt="Logo"
    />
  </div>

  <!-- Links de navegación -->
  <div class="navbar-links" #navbarLinks>
    <a class="primary-button1" (click)="navigateTo('home')">Inicio</a>
    <a class="primary-button1" (click)="navigateTo('sobreNosotros')">Sobre Nosotros</a>
    <a class="primary-button1" (click)="navigateTo('catalogo')">Catalogo</a>
    <a  class="primary-button" (click)="navigateTo('pasos')">Creá tu isla</a>
    <a class="primary-button2" (click)="navigateTo('preguntas')">Preguntas Frecuentes</a>
  </div>

  <!-- Iconos del usuario y carrito -->
  <div class="navbar-icons">
    <a ><i class="fa fa-user"></i></a>
    <a ><i class="fa fa-shopping-bag"></i></a>
  </div>

  <!-- Icono del menú hamburguesa -->
  <div class="menu-icon" (click)="toggleMenu()">
    <i class="fa fa-bars"></i>
  </div>
</nav>
