<section class="featured-section">
  <div class="content">
    <h1>MÁS QUE UNA ISLA DE COCINA</h1>
    <h2>Tu espacio, reinventado a tu ritmo</h2>
    <p class="description">
      Simula tu isla ideal en 3 pasos:
    </p>
    <ul class="items">
      <li>Elegi la cantidad de modulos(1,2 o 3). </li>
      <br>
      <li>Personaliza medidas, colores y accesorios.</li>
      <br>
      <li>¡Vivila en tu cocina!.</li>
    </ul>
    <div class="buttons">
      <button (click)="navigateTo('pasos')" class="primary-button">¡Simulá tu isla!</button>
      <button class="secondary-button" (click)="navigateTo('catalogo')">Ver catálogo</button>
    </div>
  </div>

  <div class="carousel">
    <div #carouselTrack class="carousel-track">
      <div class="carousel-item" *ngFor="let image of images">
        <img [src]="image" alt="Imagen de carrusel" />
      </div>
    </div>
    <button class="carousel-button prev" (click)="moveSlide(-1)">&#10094;</button>
    <button class="carousel-button next" (click)="moveSlide(1)">&#10095;</button>
  </div>


</section>
