<div class="container">
  <div class="background-frame"></div>
  <img src="../../assets/Problema3.webp" alt="Isla de cocina" class="kitchen-image">

  <div class="text-content">
    <h2>¿Tu cocina te aisla del resto?</h2>
    <br>
    <p>"Basta de cocinar a solas…
      Con las islas con ruedas móviles de Masnomada:
      <br>
      → Mové tu espacio de trabajo hacia el comedor o ventana para compartir momentos.
      <br>
      → Integrá taburetes y creá una isla social para tomar mate o ayudar a los chicos con la tarea.
      <br>
      <br>
      Tu cocina dejará de ser un “lugar de paso” para ser el corazón de tu hogar."</p>
  </div>
</div>



