<div class="container">
  <div class="background-frame"></div>
  <img src="../../assets/Problema3.png" alt="Isla de cocina" class="kitchen-image">

  <div class="text-content">
    <h2><span>Problema 3:</span> ¿No conectás con tu hogar?</h2>
    <p>¿Te gustaría cocinar acompañado de tu familia o disfrutar de la televisión mientras cocinas? Con nuestras islas, creá un espacio amplio para conectar con los demás y con el resto de tu hogar. Cociná cómodamente, sin limitaciones, y disfrutá de cada rincón mientras preparás tus platos favoritos.</p>
  </div>
</div>



