<div class="container">
  <div class="background-frame"></div>
  <img src="../../assets/Problema1.webp" alt="Isla de cocina" class="kitchen-image">

  <div class="text-content">
    <h2>¿Cocinar en modo caos?</h2>
    <br>
    <p>Basta de limpiar mesadas abarrotadas
      Nuestras islas modulares transforman el desorden en orden inteligente:
      <br>
      → Módulos con cajones profundos y estantes ajustables para guardar todo.
      <br>
      → Ruedas silenciosas para moverla y acceder a lo que necesitás… ¡sin maldecir!
      <br>
      <br>
      Dejá atrás el estrés y cociná como si tuvieras una cocina de revista.</p>
  </div>
</div>


