@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Cursiva';
  src: url('../../assets/fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}



/* Estilo para la sección de introducción de muebles */
.muebles-intro {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #f5f5f5; /* Fondo claro para resaltar el texto */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.muebles-title {
  font-family: 'Poppins', sans-serif; /* Fuente personalizada */
  font-size: 32px;
  color: #333;
  margin-bottom: 10px;
}

.muebles-description {
  font-family: 'Poppins Cursiva', sans-serif; /* Fuente personalizada */
  font-size: 18px;
  color: #555;
  margin: 0;
}


.muebles-container {
  max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; /* Espaciado entre elementos */
  padding: 20px; /* Espaciado interno */
}

.muebles-intro {
  text-align: center;
  margin-bottom: 30px;
}

.muebles-title {
  font-size: 2rem;
  font-weight: bold;
}

.muebles-description {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .muebles-container {
    max-width: 100%;
    padding: 10px;
  }
}
