<app-navbar></app-navbar>
<app-hero-section></app-hero-section>

<br>

<div class="muebles-intro">
  <h2 class="muebles-title">¿Problemas en tu cocina? ¡Tenemos la solución!</h2>
  <p class="muebles-description">
    Más que islas de cocina, son la clave para transformar espacios pequeños en grandes oportunidades.
  </p>
</div>

<!-- Contenedor centrado -->
<div class="muebles-container">
  <app-muebles></app-muebles>
  <app-muebles2></app-muebles2>
  <app-muebles3></app-muebles3>
</div>

<br>

<app-video></app-video>


<app-kitchen-modules></app-kitchen-modules>

<br>

<app-footer></app-footer>

