<div class="modules-container">
  <h1>Módulos para tu estilo y necesidades</h1>

  <!-- Contenedor con fondo para Tabs y Descripción -->
  <div class="tabs-description-container">
    <!-- Tabs -->
    <div class="tabs">
      <button
        class="tab"
        [class.active]="activeTab === 'estantes'"
        (click)="setActiveTab('estantes')"
      >
        Estantes
      </button>
      <button
        class="tab"
        [class.active]="activeTab === 'cajones'"
        (click)="setActiveTab('cajones')"
      >
        Cajones
      </button>
      <button
        class="tab"
        [class.active]="activeTab === 'puertas'"
        (click)="setActiveTab('puertas')"
      >
        Puertas
      </button>
      <button
        class="tab"
        [class.active]="activeTab === 'box'"
        (click)="setActiveTab('box')"
      >
        Box
      </button>
      <button
        class="tab"
        [class.active]="activeTab === 'cava'"
        (click)="setActiveTab('cava')"
      >
        Cava
      </button>
    </div>

    <!-- Descripción dinámica -->
    <p class="description">{{ getActiveDescription() }}</p>
  </div>

  <!-- Texto informativo general -->
  <div class="info">
    <p>
      Nómada te ofrece soluciones de diseño que se adaptan a vos. Ya sea para cocinar con tu familia,
      organizar una fiesta o simplemente aprovechar mejor tu cocina, nuestras islas están pensadas para
      acompañarte en cada ocasión. ¡Personalizá la tuya y redescubrí tu cocina!
    </p>
  </div>

  <!-- Botón -->
  <button (click)="navigateTo('pasos')" class="cta-button">Creá tu isla</button>
</div>
